body {
    background-color: white;
    text-align: center;
    margin:0;
}

.banner {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 0;
    display: block;
    z-index: 1;
    background-color: white;
}

.banner h1 {
    font-size: 10vw;
    margin-bottom: 0%;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 5px;
}

.subtitle {
    font-size: 5vw;
    font-family:'Times New Roman', Times, serif;
}
.banner h2 {
    font-size: 4vw;
    margin-bottom:0;
}

@media only screen and (min-width:780px) {
    .banner h1 {
        font-size:78px;
        letter-spacing: 10px;
    }
    .banner h2 {
        font-size:31.2px;
    }
    .subtitle {
        font-size:39px;
    }
}




.gallery-border {
    background-color: blanchedalmond;
    margin:0 20px;
    border: 2px solid black;
}

.gallery {
    display: inline-block;
    width:24%;
    padding-top:20px
}

img {
    width: 80%;
    max-width: 350px;
    border: 1px solid black;
}

.footer {
    display:block;
    position:absolute;
    width:100%;
}



/*mobile*/
@media only screen and (max-width: 480px) {
    .banner h1 {
        letter-spacing: 0;
    }
    .gallery-border {
        margin:0;
        border: none;
    }
    .gallery {
        width:90%;
    }
}